<!DOCTYPE html>
<html lang="en">
<head>
  <title>Subversion  eXtended Administration</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="./css/bootstrap-responsive.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="./js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <span class="brand">Subversion eXtended Administration</span>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Hello <TMPL_VAR NAME="USERNAME">,</h1>
        <p>You are administrator for
          <TMPL_LOOP NAME="ADMIN_REPOS">
          <a class="label label-info" href="Abacus">Abacus</a>
          </TMPL_LOOP>
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="span6">
        <h2>Create a new repository</h2>
        <form method="post" action="" enctype="multipart/form-data">
          <fieldset>
            <input type="hidden" name="action" value="create" />
            <label>Name of new repository</label>
            <input type="text" name="repos"  size="20" />
            <label>Administrator</label>
            <input type="text" name="reposadmin" value="<TMPL_VAR NAME="USERNAME" ESCAPE="HTML">" size="20" />
          </fieldset>
          <input type="submit" name=".submit" value="Create" class="btn btn-primary" />
        </form>
      </div>
      
      <div class="span6">
        <h2>Your access rights</h2>
        
        <p>You have <strong>read-write</strong> access to the following repositories:</p>
        <div class="well">
          <ul class="nav nav-list">
            <TMPL_LOOP NAME="RW_REPOS"><li><a href="<TMPL_VAR NAME="VIEWVC_URL"ESCAPE="HTML">"><TMPL_VAR NAME="SVN_URL"></a></li></TMPL_LOOP>
          </ul>
        </div>
        
        <p>You have <strong>read-only</strong> access to the following repositories:</p>
        <div class="well">
          <ul class="nav nav-list">
            <TMPL_LOOP NAME="RO_REPOS"><li><a href="<TMPL_VAR NAME="VIEWVC_URL"ESCAPE="HTML">"><TMPL_VAR NAME="SVN_URL"></a></li></TMPL_LOOP>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="span12">
        <small>Copyright 2005&ndash;2009 Jochen Hoenicke, Michael M&ouml;ller, Marco L&uuml;bcke; based on code from Theo Van Dinter</small>
      </div>
    </div>

  <!-- TODO: Add sections for disabled options - change password, backup and dump, etc. -->

  </div>
</body>
</html>
