<!DOCTYPE html>
<html lang="en">
<head>
  <title>Subversion  eXtended Administration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="static/css/svnadmin.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
      <span class="brand">Subversion eXtended Administration</span>
      <ul class="nav">
        <li><a href=".">Home</a></li>
        <TMPL_IF NAME="IN_REPOSITORY"><li class="divider-vertical"></li>
        <li class="navbar-text active"><TMPL_VAR NAME="REPOSITORY"/></li>
      </TMPL_IF>
      </ul>
      <span class="navbar-text pull-right">Logged in as <TMPL_VAR NAME="USERNAME"/></span>
      </div>
    </div>
  </div>

  <TMPL_IF NAME="ACTION_TITLE">
  <!-- Display output related to a previous action -->
  <div class="container">
    <div class="alert">
    <h2><TMPL_VAR NAME="ACTION_TITLE"/></h2>
    <TMPL_LOOP NAME="LOOP_ACTION_MSGS">
    <TMPL_IF NAME="ACTION_WARNING"><p class="text-error"><TMPL_VAR NAME="ACTION_WARNING"/></p></TMPL_IF>
    <TMPL_IF NAME="ACTION_OUTPUT"><p class="text-success"><TMPL_VAR NAME="ACTION_OUTPUT"/></p></TMPL_IF>
    <TMPL_IF NAME="ACTION_RAW_OUTPUT"><pre><TMPL_VAR NAME="ACTION_RAW_OUTPUT"/></pre></TMPL_IF>
    </TMPL_LOOP>
    </div>
  </div>
  </TMPL_IF>

  <div class="container"> <!-- Start main content layout -->

    <TMPL_IF NAME="LOOP_ADMIN_REPOS"><div class="row"><div class="span12"><p>You are administrator for
      <TMPL_LOOP NAME="LOOP_ADMIN_REPOS">
        <TMPL_IF NAME="L_CURRENT">
        <span class="label label-success"><TMPL_VAR NAME="L_REPOSITORY"/></span>
        <TMPL_ELSE/>
          <a class="label label-info" href="<TMPL_VAR NAME="L_REPOSITORY"/>"><TMPL_VAR NAME="L_REPOSITORY"/></a>
        </TMPL_IF>
      </TMPL_LOOP>
    </p></div></div></TMPL_IF>

    <TMPL_IF NAME="IN_REPOSITORY">
    <!-- Display admin tasks specific to a single repository. -->
    <div class="row"><div class="span12">
    <h2>Administer repository <a class="external" href="/viewvc/<TMPL_VAR NAME="REPOSITORY"/>/"><TMPL_VAR NAME="REPOSITORY"/></a></h2>
    </div></div>
    <TMPL_IF NAME="CAN_CREATE_USERS">
    <div class="row"><div class="span12">
    <h3>Create User</h3>
    </div></div>
    <form class="form-horizontal" method="post" action="<TMPL_VAR NAME="REPOSITORY"/>">
      <input name="action" value="adduser" type="hidden">
      <div class="control-group"><label class="control-label" for="newUser">User (Login)</label>
        <div class="controls"><input id="newUser" name="newUser" size="30" maxlength="30" type="text"></div>
      </div>
      <div class="control-group"><label class="control-label" for="pwd">Passphrase</label>
        <div class="controls"><input id="pwd" name="pwd" size="32" maxlength="80" type="password"></div>
      </div>
      <div class="control-group"><label class="control-label" for="vpwd">Verify passphrase</label>
        <div class="controls"><input id="vpwd" name="vpwd" size="32" maxlength="80" type="password"></div>
      </div>
      <div class="control-group">
        <div class="controls"><button type="submit" class="btn">Add</button></div>
      </div>
    </form>
    </TMPL_IF>
    <form class="form-horizontal" method="post" action="<TMPL_VAR NAME="REPOSITORY"/>">
      <input name="repos" value="<TMPL_VAR NAME="REPOSITORY"/>" type="hidden">
      <input name="action" value="chgroupacl" type="hidden">
      <div class="row"><div class="span12">
      <h3>Groups</h3>
      </div></div>
      <div class="row">
        <div class="span2"><p class="text-right"><strong>Group</strong></p></div><div class="span1">&nbsp;</div><div class="span9"><strong>Users</strong></div>
      </div>
      <!-- Adjust membership of existing groups -->
      <TMPL_LOOP NAME="LOOP_REPO_GROUPS">
      <input name="grpname[<TMPL_VAR NAME="L_INDEX"/>]" value="<TMPL_VAR NAME="L_GROUPNAME"/>" type="hidden">
      <div class="control-group">
        <label class="control-label" for="users[<TMPL_VAR NAME="L_INDEX"/>]"><TMPL_VAR NAME="L_REPOSITORY"/>-<TMPL_VAR NAME="L_GROUPNAME"/></label>
        <div class="controls">
          <input id="users[<TMPL_VAR NAME="L_INDEX"/>]" name="users[<TMPL_VAR NAME="L_INDEX"/>]" value="<TMPL_VAR NAME="L_GROUPUSERS"/>" size="50" type="text">
          <TMPL_IF NAME="L_CAN_BE_DELETED"><label class="checkbox inline"><input id="deletegrp" name="deletegrp" value="<TMPL_VAR NAME="L_INDEX"/>" type="checkbox"> Delete</label></TMPL_IF>
        </div>
      </div>
      </TMPL_LOOP>
      <!-- Create a new group -->
      <input name="numgroups" value="<TMPL_VAR NAME="GROUPCOUNT"/>" type="hidden">
      <div class="control-group">
        <label class="control-label" for="l_users[<TMPL_VAR NAME="GROUPCOUNT"/>]"><TMPL_VAR NAME="REPOSITORY"/>-</label><input class="control-label" name="grpname[<TMPL_VAR NAME="GROUPCOUNT"/>]" size="15" type="text">
        <div class="controls">
          <select id="l_users[<TMPL_VAR NAME="GROUPCOUNT"/>]" name="l_users[<TMPL_VAR NAME="GROUPCOUNT"/>]" size="5" multiple="multiple">
            <TMPL_LOOP NAME="LOOP_AVAILABLE_USERS"><option value="<TMPL_VAR NAME="L_USERNAME"/>"><TMPL_VAR NAME="L_DISPLAYNAME"/></option>
            </TMPL_LOOP>
          </select>
          <button class="btn inline" type="submit">Add</button>
        </div>
      </div>
      <div class="control-group">
        <div class="controls"><button class="btn" type="submit">Commit Changes</button></div>
      </div>
      <div class="row"><div class="span12">
      <h3>Access Control Table</h3>
      </div></div>
      <table>
        <tr><th>Path</th> <th>User(group)</th><th>Access</th><th></th></tr>
        <!-- Modify or delete the existing access for groups and users. -->
        <TMPL_LOOP NAME="LOOP_PERMISSIONS">
        <tr>
          <td><input type="hidden" name="path[<TMPL_VAR NAME="L_ACL_NUMBER"/>]" value="<TMPL_VAR NAME="L_PATH"/>"/>/</td>
          <td><input type="hidden" name="usergroup[<TMPL_VAR NAME="L_ACL_NUMBER"/>]" value="<TMPL_VAR NAME="L_USER_GROUP"/>"/>
            <TMPL_VAR NAME="L_USER_GROUP"/></td>
          <td><select name="access[<TMPL_VAR NAME="L_ACL_NUMBER"/>]" >
            <option <TMPL_IF NAME="L_HAS_RW_PERM">selected="selected" </TMPL_IF>value="rw">rw</option>
            <option <TMPL_IF NAME="L_HAS_RO_PERM">selected="selected" </TMPL_IF>value="r">r</option>
            <option <TMPL_IF NAME="L_HAS_NO_PERM">selected="selected" </TMPL_IF>value="">-</option>
          </select></td>
          <td><label><input type="checkbox" name="deleteacl" value="<TMPL_VAR NAME="L_ACL_NUMBER"/>"/>Delete</label></td>
        </tr>
        </TMPL_LOOP>
        <!-- Add access for a new group or user. -->
        <tr>
          <td>
            <input type="hidden" name="numacl" value="<TMPL_VAR NAME="ACL_NUMBER"/>"/>
            <input type="text" name="path[<TMPL_VAR NAME="ACL_NUMBER"/>]" value="/" size="30" />
          </td>
          <td>
            <select name="usergroup[<TMPL_VAR NAME="ACL_NUMBER"/>]" >
              <option selected="selected" value=""></option>
              <!-- Groups for this repository. -->
              <TMPL_LOOP NAME="LOOP_REPO_GROUPS">
              <option value="@<TMPL_VAR NAME="L_REPOSITORY"/>-<TMPL_VAR NAME="L_GROUPNAME"/>">
                @<TMPL_VAR NAME="L_REPOSITORY"/>-<TMPL_VAR NAME="L_GROUPNAME"/></option>
              </TMPL_LOOP>
              <!-- Individual users.  Prefer groups over users for access rules. -->
              <TMPL_LOOP NAME="LOOP_AVAILABLE_USERS">
              <option value="<TMPL_VAR NAME="L_USERNAME"/>"><TMPL_VAR NAME="L_DISPLAYNAME"/></option>
              </TMPL_LOOP>
            </select>
          </td>
          <td><select name="access[<TMPL_VAR NAME="ACL_NUMBER"/>]" >
            <option selected="selected" value="rw">rw</option>
            <option value="r">r</option>
            <option value="">-</option>
          </select></td>
          <td><input type="submit" name="add" value="Add" /></td>
        </tr>
        <tr><td align="center" colspan="4">
            <input type="submit" name="commit" value="Commit Changes" /></td>
        </tr>
      </table>
    </form>

    <p>You can give read/write or read-only rights to a single user or a user group. A user group is
    denoted by @<TMPL_VAR NAME="REPOSITORY"/>-&lt;groupname&gt;.  The access rights are valid
    for the given path and all sub directories.  For details see the 
    <a class="external" href="http://svnbook.red-bean.com/en/1.7/svn.serverconfig.httpd.html#svn.serverconfig.httpd.authz.perdir">Manual</a>.
    </p>
    <p><strong>Warning:</strong> the ViewCVS script does not always respect path restrictions.  A
    skilled user with read-only access to one directory of the
    repository can read the whole repository.  Better use different repositories.</p>

    <TMPL_IF NAME="BACKUP_ENABLED">
    <TMPL_IF NAME="READ_GPG_KEYS">
    <h3>Manage GPG Keys</h3>
    <p>The users in the group @<TMPL_VAR NAME="REPOSITORY"/>-backup can download an encrypted backup
    <a href="<TMPL_VAR NAME="REPOSITORY"/>.gpg"><TMPL_VAR NAME="REPOSITORY"/>.gpg</a>.
    For regular backups you can adapt this <a href="/svnbackup">backup shell script</a>.
    The backup is encrypted with the GPG keys in the following list.</p>
    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="action" value="chgpgkeys"/>
      <input type="hidden" name="repos" value="<TMPL_VAR NAME="REPOSITORY"/>"/>
    <table>
      <TMPL_LOOP NAME="LOOP_GPG_KEYS_FOR_REPO"><tr>
        <td><TMPL_VAR NAME="L_GPG_KEY_ID"/>&nbsp;<TMPL_VAR NAME="L_GPG_FINGERPRINT" ESCAPE="HTML"/></td>
        <td><label><input type="checkbox" name="gpgdelkey" value="<TMPL_VAR NAME="L_GPG_KEY_ID"/>">Remove</label></td>
      </tr></TMPL_LOOP>
      <tr>
        <td>
          <select name="gpgaddkey"><TMPL_LOOP NAME="LOOP_AVAILABLE_GPG_KEYS">
            <option value="<TMPL_VAR NAME="L_GPG_KEY_ID"/>"><TMPL_VAR NAME="L_GPG_FINGERPRINT" ESCAPE="HTML"/></option></TMPL_LOOP>
          </select>
        </td>
        <td><input type="submit" name="add" value="Add" /></td>
      </tr>
      <tr>
        <td><strong>GPG Public Key: </strong><input type="file" name="gpgkeyfile" size="40"/></td>
      </tr>
      <tr><td colspan="2" align="center"><input type="submit" name="commit" value="Commit Changes"/></td></tr>
    </table>
    </form>
    </TMPL_IF>
    </TMPL_IF>

    <TMPL_IF NAME="BACKUP_ENABLED">
    <h3>Get/Upload dump file</h3>
    <p>Click here to download a <a href="<TMPL_VAR NAME="REPOSITORY"/>.gz">dump file</a>
    of repository <TMPL_VAR NAME="REPOSITORY"/></p>
    <p>Upload an <b>incremental</b> dump file into repository <TMPL_VAR NAME="REPOSITORY"/>:</p>
    <form method="POST" enctype="multipart/form-data">
      <input type="hidden" name="action" value="load"/>
      <input type="hidden" name="repos" value="<TMPL_VAR NAME="REPOSITORY"/>"/>
      <table>
        <tr>
          <td><strong>Dump File: </strong><input type="file" name="dumpfile" size="40"/></td>
          <td><strong>Subdirectory: </strong><input type="text" name="dumpsubdir" value="" size="20"/></td>
        </tr>
      </table>
      <input type="submit" name="load" value="Load"/>
    </form>
    </TMPL_IF>

    <TMPL_ELSE>
    <!-- Not in a repository, display top level admin tasks. -->
    <TMPL_IF NAME="CAN_CHANGE_PASSWORD">
    <h2>Change Passphrase</h2>
    <p>Please enter your new choice of passphrase below, and then verify by entering it again.</p>
    <p>You can either use a passphrase (preferably of decent length, include punctuation, etc,) or a password.  Good passwords have these properties:</p>
    <ul>
      <li>is not based upon a dictionary word</li>
      <li>does not have numbers substituted for common letters (ie. 3 for E 1 for I, 0 for O, etc) or numbers used as a suffix/prefix (ie.  4sale, 2by4, etc.)</li>
      <li>is at least 8 characters long (length of 6 to 80 is required)</li>
      <li>is made up of a combination of non-repeating upper/lower case letters, numbers, and punctuation.</li>
      <li>is hard to guess ;)</li>
    </ul>
    <p>Also note that the passphrase is case-sensitive.</p>
    <hr/>
    <form method="post">
      <input name="action" value="changepw" type="hidden"/>
      <table><tbody>
          <tr><td>Passphrase: </td> <td><input name="passphrase" size="32" maxlength="80" type="password"></td><td>(6-80 chars)</td></tr>
          <tr><td>Verify: </td> <td><input name="verify" size="32" maxlength="80" type="password"></td><td>(6-80 chars)</td></tr>
      </tbody></table>
      <input value="Change Passphrase" type="submit"/>
    </form>
    </TMPL_IF>
    <TMPL_IF NAME="CAN_CREATE_REPOSITORY">
    <h2>Create a new repository</h2>
    <form method="POST">
      <input name="action" value="create" type="hidden"/>
      <table><tbody>
          <tr><td>Name of new repository: </td> <td><input name="repos" size="20" type="text"></td></tr>
        <tr><td>Administrator: </td> <td><input name="reposadmin" value="<TMPL_VAR NAME="USERNAME"/>" size="20" type="text"></td></tr>
      </tbody></table>
      <input value="Create" type="submit"/>
    </form>
    </TMPL_IF>
    <div class="span6">
      <h2>Your access rights</h2>
      
      <p>You have <strong>read-write</strong> access to the following repositories:</p>
      <div class="well">
        <ul class="nav nav-list">
          <TMPL_LOOP NAME="LOOP_RW_PATHS"><li>
            <a href="<TMPL_VAR NAME="L_VIEWVC_URL" ESCAPE="HTML"/>/<TMPL_VAR NAME="L_REPOSITORY"/><TMPL_VAR NAME="L_PATH"/>">
            <TMPL_VAR NAME="L_REPOSITORY"/></a>
          </li></TMPL_LOOP>
        </ul>
      </div>
      
      <p>You have <strong>read-only</strong> access to the following repositories:</p>
      <div class="well">
        <ul class="nav nav-list">
          <TMPL_LOOP NAME="LOOP_RO_PATHS"><li>
            <a href="<TMPL_VAR NAME="L_VIEWVC_URL" ESCAPE="HTML"/>/<TMPL_VAR NAME="L_REPOSITORY"/><TMPL_VAR NAME="L_PATH"/>">
            <TMPL_VAR NAME="L_REPOSITORY"/></a>
          </li></TMPL_LOOP>
        </ul>
      </div>
    </div>
    </TMPL_IF>

    <div class="row">
      <div class="span12">
        <small>Copyright 2005&ndash;2009 Jochen Hoenicke, Michael M&ouml;ller, Marco L&uuml;bcke; based on code from Theo Van Dinter</small>
      </div>
    </div>

  </div> <!-- End main content layout -->
</body>
</html>
