<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html
  xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"> <head>
    <title>Subversion  eXtended Administration</title> <meta
    http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    </head> <body> <h3>Hello rneish,</h3><p>You are administrator for <a
    href="Abacus">[Abacus]</a> <a
        href="Archetypes">[Archetypes]</a> <a
        href="AssociatesWeb">[AssociatesWeb]</a> <a
        href="AutomatedTesting">[AutomatedTesting]</a> <a
        href="BCNmob">[BCNmob]</a> <a href="BP">[BP]</a> <a
        href="BarcelonaTest">[BarcelonaTest]</a> <a
        href="BarclaysComplianceRisk">[BarclaysComplianceRisk]</a> <a
        href="BarclaysControlRoomSurveillance">[BarclaysControlRoomSurveillance]</a>
      <a href="BemLoad">[BemLoad]</a> <a href="CQS">[CQS]</a> <a
        href="Calypso">[Calypso]</a> <a href="CityOdds">[CityOdds]</a> <a
        href="ClaimsTracker">[ClaimsTracker]</a> <a href="Comp">[Comp]</a> <a
        href="ComplianceControl">[ComplianceControl]</a> <a
        href="CreditRiskDataLoad">[CreditRiskDataLoad]</a> <a
        href="CreditRiskSystem">[CreditRiskSystem]</a> <a
        href="DBBSG">[DBBSG]</a> <a
        href="DBConferencesBid">[DBConferencesBid]</a> <a
        href="ETFManager">[ETFManager]</a> <a
        href="EUCRemediation">[EUCRemediation]</a> <a
        href="Eclectica">[Eclectica]</a> <a
        href="Fortis-Calypso">[Fortis-Calypso]</a> <a
        href="GradSandbox">[GradSandbox]</a> <a
        href="GreenParts">[GreenParts]</a> <a href="Horizon">[Horizon]</a> <a
        href="HsbcFxoClearing">[HsbcFxoClearing]</a> <a
        href="Intranet">[Intranet]</a> <a href="JSClient">[JSClient]</a> <a
        href="Luxor">[Luxor]</a> <a href="MIST">[MIST]</a> <a
        href="MobileGuestRegistration">[MobileGuestRegistration]</a> <a
        href="MoveTest">[MoveTest]</a> <a
        href="NARecruiting">[NARecruiting]</a> <a href="NewCo">[NewCo]</a> <a
        href="NorthAmericaOperations">[NorthAmericaOperations]</a> <a
        href="Odey">[Odey]</a> <a
        href="OdeyApplicationLogicMove">[OdeyApplicationLogicMove]</a> <a
        href="OdeyFocusList">[OdeyFocusList]</a> <a
        href="OdeyImport">[OdeyImport]</a> <a
        href="RBCRiskOutsourcing">[RBCRiskOutsourcing]</a> <a
        href="RIDYT">[RIDYT]</a> <a href="Rambo">[Rambo]</a> <a
        href="Rule">[Rule]</a> <a href="RuleALDOP">[RuleALDOP]</a> <a
        href="RuleCareerMgmt">[RuleCareerMgmt]</a> <a
        href="RuleMaven">[RuleMaven]</a> <a href="RuleNY">[RuleNY]</a> <a
        href="RulePivot">[RulePivot]</a> <a
        href="TradeSimulator">[TradeSimulator]</a> <a
        href="TriPartyApp">[TriPartyApp]</a> <a href="UBS-Led">[UBS-Led]</a> <a
        href="WellsFargoGridCachePoC">[WellsFargoGridCachePoC]</a> <a
        href="XMLReporting">[XMLReporting]</a> <a href="citi-fx">[citi-fx]</a>
      <a href="dalepride">[dalepride]</a> <a href="ebcm">[ebcm]</a> <a
        href="ebcm2ng">[ebcm2ng]</a> <a
        href="finca">[finca]</a> <a href="forteus-admin">[forteus-admin]</a> <a
        href="forteus">[forteus]</a> <a
        href="forteus-baseapp">[forteus-baseapp]</a> <a
        href="forteus-env">[forteus-env]</a> <a
        href="forteus-home">[forteus-home]</a> <a
        href="gradrepo">[gradrepo]</a> <a href="iDesk">[iDesk]</a> <a
        href="iPhoneRiskDemo">[iPhoneRiskDemo]</a> <a href="luup">[luup]</a> <a
        href="rontech">[rontech]</a> <a href="rulebook">[rulebook]</a> <a
        href="svnhome">[svnhome]</a> <a href="tbbx">[tbbx]</a> <a
        href="tcweb">[tcweb]</a> <a href="tullett">[tullett]</a> <a
        href="utils">[utils]</a>.  </p><h2>Create a new repository</h2><form
        method="post" action="/svn-admin/" enctype="multipart/form-data">
        <input type="hidden" name="action" value="create"
        /><table><tr><td><strong>Name of new repository: </strong></td>
            <td><input type="text" name="repos"  size="20" /></td></tr>
          <tr><td><strong>Administrator: </strong></td> <td><input type="text"
              name="reposadmin" value="rneish" size="20"
            /></td></tr></table><input type="submit" name=".submit"
      value="Create" /></form><hr /><h2>Your access rights</h2><p>You have
    <strong>read-write</strong>  access to the following
    repositories:</p><ul><li><a
        href="/viewvc/AutomatedTesting/">http://192.168.13.30/svn/AutomatedTesting/</a></li><li><a
        href="/viewvc/AutomatedTesting/">http://192.168.13.30/svn/AutomatedTesting/</a></li><li><a
        href="/viewvc/Luxor/">http://192.168.13.30/svn/Luxor/</a></li><li><a
        href="/viewvc/Rule/">http://192.168.13.30/svn/Rule/</a></li><li><a
        href="/viewvc/RuleALDOP/">http://192.168.13.30/svn/RuleALDOP/</a></li><li><a
        href="/viewvc/TriPartyApp/">http://192.168.13.30/svn/TriPartyApp/</a></li><li><a
        href="/viewvc/iDesk/">http://192.168.13.30/svn/iDesk/</a></li><li><a
        href="/viewvc/svnhome/">http://192.168.13.30/svn/svnhome/</a></li><li><a
        href="/viewvc/tbbx/">http://192.168.13.30/svn/tbbx/</a></li></ul><p>You
    have  <strong>read-only</strong>  access to the following
    repositories:</p><ul><li><a
        href="/viewvc/RuleALDOP/">http://192.168.13.30/svn/RuleALDOP/</a></li><li><a
        href="/viewvc/RuleMaven/">http://192.168.13.30/svn/RuleMaven/</a></li><li><a
        href="/viewvc/svnhome/">http://192.168.13.30/svn/svnhome/</a></li><li><a
        href="/viewvc/svnhome/">http://192.168.13.30/svn/svnhome/</a></li><li><a
        href="/viewvc/tcweb/">http://192.168.13.30/svn/tcweb/</a></li><li><a
        href="/viewvc/tcweb/">http://192.168.13.30/svn/tcweb/</a></li></ul><hr
    /><p><small>Copyright 2005&ndash;2009 Jochen Hoenicke, Michael M&ouml;ller,
      Marco L&uuml;bcke; based on code from Theo Van
      Dinter</small></p>

  </body> </html>
